@using Microsoft.AspNetCore.Identity
@using EmpregaSENAI.Areas.Identity.Data

@inject SignInManager<EmpregaSENAI.Models.Users> SignInManager
@inject UserManager<EmpregaSENAI.Models.Users> UserManager

@model IEnumerable<EmpregaSENAI.Models.Vaga>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<section>
<table class="table">
    @*<thead>
        <tr>
            <th class="nomeheader">
                @Html.DisplayNameFor(model => model.UserNome)
            </th>
            <th class="emailheader">
                @Html.DisplayNameFor(model => model.UserEmail)
            </th>           
            <th class="setorheader">
                @Html.DisplayNameFor(model => model.Setor)
            </th>                   
        </tr>
    </thead>*@
    <tbody>
        @foreach (var item in Model)
        {            
            <tr class="card">
                <td class="nomebody">
                    @Html.DisplayFor(modelItem => item.UserNome)
                </td>
                <td class="setorbody">
                            @*<i class="bi bi-pin-angle-fill"></i> pin icone *@
                    @Html.DisplayFor(modelItem => item.Setor)
                </td>                      
                <td class="emailbody">
                    @Html.DisplayFor(modelItem => item.UserEmail)
                </td>                
                <td class="detailsbody">
                    @if(@item.UserId == @UserManager.GetUserId(User))
                    {
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    }

                </td>
            </tr>          
        }
    </tbody>
</table>
</section>



<style>
    section {
        margin: 0;
        padding: 0;
        justify-content: center;
        display: flex;
        background-color:pink;
    }

    .card{
        width:283px;
        height:283px;
        display:flex;
        /* background: src(../wwwroot/img/folder-exemplo.jpg);*/
        flex-direction:column;
        float:left;  
        border-radius:15px;
        margin-right:15px;
        margin-top:15px;
        margin-left:15px;
        nackground-color:red;
    }  


    /*CARD BODY*/
    
    .nomebody{
        border:none;
        display:flex;
        margin-top:40px;
        justify-content:center;        
        align-items:center;          
        padding:100px;
        color:red;
        font-weight:bold;
    }

    .emailbody{
        border:none;
        display:flex;
        margin-top:20px;
        justify-content:center;
        align-items:center;
    }
    /*cargo*/
    .setorbody{       
        border:none;
        display:flex;
        margin-top:20px;
        justify-content:center;
        align-items:center;
        font-weight:bold;
    }

    /*botao detalhes */
    .detailsbody{
        border:none;
        display:flex;
        margin-top:10px;
        justify-content:center;
        align-items:center;
        
    }

    a:link{
        text-decoration:none;
        color:black;
    }

</style>
