@model IEnumerable<EmpregaSENAI.Models.Vaga>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<section>  
<div class="card">
    <table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.Desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Setor)
            </th>*@
            <th class="requisitos">
                @Html.DisplayNameFor(model => model.Requisitos)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Infos)
            </th>
            <th></th>*@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="descricao">
                @Html.DisplayFor(modelItem => item.Desc)
            </td>
            <td class="setor">
                @Html.DisplayFor(modelItem => item.Setor)
            </td>
            <td class="reqbody">
                @Html.DisplayFor(modelItem => item.Requisitos)
            </td>
            <td class="info">
                @Html.DisplayFor(modelItem => item.Infos)
            </td>
           @* <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
</div>

</section>


<style>
    section {
        margin: 0;
        padding: 0;
        justify-content: center;
        display: flex;
        background-color:red;
    }

    .card{
        width:483px;
        height:483px;
        display:flex;
        /* background: src(../wwwroot/img/folder-exemplo.jpg);*/
        flex-direction:column;
        float:left;           
    }

    .requisitos{
        border:none;
        margin-top:0px;
    }

    .setor{
        background-color:pink;
        display:flex;
        margin-top:-90px;
        border:none;
    }

    .descricao{
        display:flex;
        margin-top:50px;
        border:none;
    }

    .reqbody{
        border:none;
        display:flex;
        margin-top:110px;
    }

    .info{
        border:none;
        display:flex;
        margin-top:150px;
    }

</style>

