@model IEnumerable<EmpregaSENAI.Models.Curriculo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<section>
<div class="card">
    <div class="card-header1">
        
        
        <div class="contato">
            <div class="nome">
                <table class="table">               
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nome)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>                
            </div>


            <div class="idade">
                <table class="table">
                        <thead class="card-header">
                            <tr class="tr_header">
                                <th>
                                    @Html.DisplayNameFor(model => model.DataNascimento)
                                </th>
                            <tr />
                        </thead>
                        <tbody class="cardTB-body">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="width:100px;">
                                    @Html.DisplayFor(modelItem => item.DataNascimento)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

                <div class="telefone">
                    <table class="table">
                            <thead class="card-header">
                            <tr class="tr_header">
                                    <th>
                                        @Html.DisplayNameFor(model => model.Telefone)
                                    </th>
                                <tr />
                            </thead>
                        <tbody class="cardTB-body">
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Telefone)
                                </td>
                            </tr>
                            }
                        </tbody>                  
                </div>


            <div class="linkedin">
                @*<h3>
                    Linkedin: Linkedin perfil nome
                </h3>*@
                <table class="table">
                        <thead class="card-header">
                            <tr class ="tr_header">
                                <th>
                                    @Html.DisplayNameFor(model => model.Bairro)
                                </th>
                            <tr />
                        </thead>
                        <tbody class="cardTB-body">
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Bairro)
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            
            <div class="linkedin">
                @*<h3>
                    Linkedin: Linkedin perfil nome
                </h3>*@
                <table class="table">
                        <thead class="card-header">
                            <tr class ="tr_header">
                                <th>
                                    @Html.DisplayNameFor(model => model.Endereco)
                                </th>
                            <tr />
                        </thead>
                        <tbody class="cardTB-body">
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Endereco)
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="cep">
                <table class="table">
                        <thead class="card-header">
                            <tr class="tr_header">
                                <th>
                                    @Html.DisplayNameFor(model => model.Cidade)
                                </th>
                            <tr />
                        </thead>
                        <tbody class="cardTB-body">
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cidade)
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>


                <table class="table">
                        <thead class="card-header">
                            <tr class="tr_header">
                                <th>
                                    @Html.DisplayNameFor(model => model.CEP)
                                </th>
                            <tr />
                        </thead>
                        <tbody class="cardTB-body">
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CEP)
                            </td>                
                        </tr>
                        }
                    </tbody>
                </table>
            </div>


            <div class="email">
                <table class="table">
                        <thead class="card-header">
                            <tr class="tr_header">
                                <th>
                                    @Html.DisplayNameFor(model => model.Email)
                                </th>
                            <tr />
                        </thead>
                    <tbody class="cardTB-body">
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                        </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div> 
            <p class="resumo-txt">
             <!-- <h3>Resumo</h3> Descrição -->
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                    It has survived not only five centuries, but also the leap into electronic typesetting, 
                    remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets 
                    containing Lorem Ipsum passages, 
                    and more recently with desktop publishing software like Aldus PageMaker 
                    including versions of Lorem Ipsum.

            </p>       
    </div>

    <div class="card-body">
        <div class="experiencias">
            @*<h2>Experiências</h2>*@
            <hr>
            <div class="exp-card">
                <div class="exp-card-body">
                        <table class="table">
                            <thead class="card-header">
                                <tr class="tr_header">
                                    <th>
                                        @Html.DisplayNameFor(model => model.CargoInteresse)
                                    </th>
                                <tr />
                            </thead>
                            <tbody class="cardTB-body">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CargoInteresse)
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>  
                        <table class="table">
                            <thead class="card-header">
                                <tr class="tr_header">
                                    <th>
                                        @Html.DisplayNameFor(model => model.GrauFormacao)
                                    </th>
                                <tr />
                            </thead>
                            <tbody class="cardTB-body">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.GrauFormacao)
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                        <table class="table">
                            <thead class="card-header">
                                <tr class="tr_header">
                                    <th>
                                        @Html.DisplayNameFor(model => model.NomeCurso)
                                    </th>
                                <tr />
                            </thead>
                            <tbody class="cardTB-body">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NomeCurso)
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>   
                        <table class="table">
                            <thead class="card-header">
                                <tr class="tr_header">
                                    <th>
                                        @Html.DisplayNameFor(model => model.Duracao)
                                    </th>
                                <tr />
                            </thead>
                            <tbody class="cardTB-body">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Duracao)
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table> 
                        <table class="table">
                            <thead class="card-header">
                                <tr class="tr_header">
                                    <th>
                                        @Html.DisplayNameFor(model => model.AnoConclusao)
                                    </th>
                                <tr />
                            </thead>
                            <tbody class="cardTB-body">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AnoConclusao)
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>                                  
                </div>
            </div>
        </div>


        <div class="educacao">
            @*<h2>Educação</h2>*@ <!--"LABEL" Formação -->
                <table class="table">
                    <thead class="card-header">
                        <tr class="tr_header">
                            <th>
                                @Html.DisplayNameFor(model => model.Instituicao)
                            </th>
                        <tr />
                    </thead>
                    <tbody class="cardTB-body">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Instituicao)
                                </td>
                                <!-- <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </td> -->
                            </tr>
                        }
                    </tbody>
                </table>        
        </div>
    </div>


    @*<div class="card-footer">
        <div class="habilidades-interp">
            @*<h2>Habilidades Interpessoais</h2>
            <hr>
            <h3>Objetividade</h3>
            <h3>Raciocínio Rápido</h3>
            <h3>Gestão de Pessoas</h3>
        </div>
        <div class="cursos-certif">
            <h2>Cursos e Certificados</h2>
            <hr>
            <h3>2010</h3>
            <h4>Workshop de Análise e balanços - UFRJ</h4>
        </div>
    </div>*@

</div>
</section>

@*<section>
<div class="card">
    <table class="table">
        <thead class="card-header">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Idade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EstadoCivil)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Experiencia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Formacao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CEP)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Idade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoCivil)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Experiencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Formacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CEP)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
   </div>
</section>*@




<style>
     
        section{
            margin: 0;
            padding: 0;
            justify-content: center;
            display: flex;
            
        }
        
/* CARD */
    .card{
        display:inline-flexbox;
        flex-direction: column;
        float:right;
        width:800px;
        height:max-content;
    }

/*CARD HEADER TABLE*/
    th{
        display:flex;
        width: 100px;
        height: 35px;
        border:none;
        font-size:18px;
        justify-content:center;
    }

    .card-header{
        display:inline-flex;       
        width:150px;
        background:none;
        justify-content:center;
        border:none;
    }

    table{
        /*background-color:pink;*/
       
        
    }

    /* TABLE-BODY*/
    .cardTB-body{
    display:inline-flex;   
    text-align:center;
    justify-content:center;
    width:200px;
    border-color:white;
    border-style:none;
    background:none;
    margin-top:10px;
    }


    /*CONTATO*/
    .nome{
        position: relative;
        text-align: center;
        font-size: 32px
    }

    .idade{
        position: relative;
        flex-direction: row;
        left: 10px
    }

    .estado-civil{
        position: relative;
        flex-direction: row;
        left: 10px
    }

    .cidade-UF{
        position: relative;
        flex-direction: row;
        left: 10px
    }

    .cep{
        position: relative;
        flex-direction: row;
        left: 10px
    }

    .telefone{
        position: relative;
        flex-direction: row;
        left: 10px;
    }

    .email{
        position: relative;
        flex-direction: row;
        left: 10px;
    }
    
    .linkedin{
        position: relative;
        flex-direction: row;
        left: 10px;
    }

    .resumo{
        left: 10px;
        font-size: large;
        position: relative;
    }

/*CARD BODY*/

    .resumo-txt{
        display:flex;
        justify-content:justify;
        padding:10px;
        margin:10px;
    }

    /*EXPERIÊNCIAS*/
    .experiencias{
        position: relative;
        margin-left: 5px;
    }

    /*EDUCAÇÃO*/
    .educacao{
        position: relative;
        margin-left: 5px;
    }

    /*COMPETENCIAS*/
    .competencias{
        position: relative;
        margin-left: 5px;
    }

    /*CARD FOOTER*/
    .habilidades-interp{
        position: relative;
        margin-left: 10px;
    }

    .cursos-certif{
        position: relative;
        margin-left: 10px;
    }

    </style>



























@*<script>
    const condicionalEmpresa = document.getElementById("form-empresa"), condicionalAluno = document.getElementById("form-aluno");
    const selectOptions = document.getElementById("opcao");
    condicionalEmpresa.style.display = "none";
    condicionalAluno.style.display = "none";

    selectOptions.addEventListener("change", () => {

        if (selectOptions.value === "Empresa") {
            condicionalEmpresa.style.display = "block";
            condicionalAluno.style.display = "none";

        } else if (selectOptions.value === "Aluno") {
            condicionalAluno.style.display = "block";
            condicionalEmpresa.style.display = "none";
        }


    });
</script>
<script src="js/bootstrap.bundle.min.js"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}*@