@model IEnumerable<EmpregaSENAI.Models.Curriculo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<section>
<div class="card">
    <div class="card-header1">
            
        <div class="botao-imprimir" onclick="window.print();" style="cursor:pointer;">
                <i class="bi bi-printer-fill fw-bold"> Imprimir </i>
            </div>
        
        <div class="contato">
            <div class="nome">
                <table class="table">               
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nome)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>                
            </div>


            <div class="data-nascimento">
                <table class="table">
                        <thead class="card-header">
                            <tr class="tr_header">
                                <th>
                                    @Html.DisplayNameFor(model => model.DataNascimento)
                                </th>
                            <tr />
                        </thead>
                        <tbody class="cardTB-body">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="width:100px;">
                                    @Html.DisplayFor(modelItem => item.DataNascimento)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

                <div class="telefone">
                    <table class="table">
                            <thead class="card-header">
                            <tr class="tr_header">
                                    <th>
                                        @Html.DisplayNameFor(model => model.Telefone)
                                    </th>
                                <tr />
                            </thead>
                        <tbody class="cardTB-body">
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Telefone)
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>


            <div class="endereco">                
                <table class="table">
                        <thead class="card-header">
                            <tr class ="tr_header">
                                <th>
                                    @Html.DisplayNameFor(model => model.Bairro)
                                </th>
                            <tr />
                        </thead>
                        <tbody class="cardTB-body">
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Bairro)
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>                      
                            
                <table class="table">
                        <thead class="card-header">
                            <tr class ="tr_header">
                                <th>
                                    @Html.DisplayNameFor(model => model.Endereco)
                                </th>
                            <tr />
                        </thead>
                        <tbody class="cardTB-body">
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Endereco)
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="cep">
                <table class="table">
                        <thead class="card-header">
                            <tr class="tr_header">
                                <th>
                                    @Html.DisplayNameFor(model => model.Cidade)
                                </th>
                            <tr />
                        </thead>
                        <tbody class="cardTB-body">
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cidade)
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>


                <table class="table">
                        <thead class="card-header">
                            <tr class="tr_header">
                                <th>
                                    @Html.DisplayNameFor(model => model.CEP)
                                </th>
                            <tr />
                        </thead>
                        <tbody class="cardTB-body">
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CEP)
                            </td>                
                        </tr>
                        }
                    </tbody>
                </table>
            </div>


            <div class="email">
                <table class="table">
                        <thead class="card-header">
                            <tr class="tr_header">
                                <th>
                                    @Html.DisplayNameFor(model => model.Email)
                                </th>
                            <tr />
                        </thead>
                    <tbody class="cardTB-body">
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                        </tr>

                        }
                    </tbody>
                </table>
            </div>

        </div> 
        
        <div>
            <h4 style="margin-left:20px;">Resumo</h4>
        </div>
        <hr />
            <p class="resumo-txt">
             <!-- <h3>Resumo</h3> Descrição -->
                A procura de me desenvolver cada vez mais em novos desafios que me proponho. 
                Atualmente meu maior desafio e vontade é entregar meu TCC e começar em uma empresa que possa me ajudar na
                caminhada para um desenvolvimento pessoal e principalmente desenvolvimento profissional. 
                Sem experiencia com o mercado de trabalho mas com muitos pontos fortes como: proativa, criativa,
                trabalho em grupo e raciocínio lógico.
                Preferência de horário: turno da tarde se possível.

            </p>       
    </div>

    <div class="card-body">
        <div class="experiencias">     
            <div>
                <h4>Cargo de Interesse</h4>
            </div>
            <hr>
            <div class="exp-card">
                <div class="exp-card-body">
                        <table class="table">
                            @*<thead class="card-header">
                                <tr class="tr_header">
                                    <th>
                                        @Html.DisplayNameFor(model => model.CargoInteresse)                                        
                                    </th>
                                <tr />                                
                            </thead>  *@                       
                            <tbody class="cardTB-body">
                                @foreach (var item in Model)
                                {
                                    <tr class="cargo">
                                        <td style="font-size:24px;">
                                            @Html.DisplayFor(modelItem => item.CargoInteresse)
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                        <div>
                            <h4>Formação</h4>
                        </div>
                        <hr />                        
                        <table class="table">
                            <thead class="card-header">
                                <tr class="tr_header">
                                    <th>
                                        @Html.DisplayNameFor(model => model.GrauFormacao)
                                    </th>
                                <tr />
                            </thead>
                            <tbody class="cardTB-body">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.GrauFormacao)
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                        <table class="table">
                            <thead class="card-header">
                                <tr class="tr_header">
                                    <th>
                                        @Html.DisplayNameFor(model => model.NomeCurso)
                                    </th>
                                <tr />
                            </thead>
                            <tbody class="cardTB-body">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NomeCurso)
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>   
                        <table class="table">
                            <thead class="card-header">
                                <tr class="tr_header">
                                    <th>

                                        @Html.DisplayNameFor(model => model.Duracao)
                                    </th>
                                <tr />
                            </thead>
                            <tbody class="cardTB-body">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Duracao)
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table> 
                        <table class="table">
                            <thead class="card-header">
                                <tr class="tr_header">
                                    <th>
                                        @Html.DisplayNameFor(model => model.AnoConclusao)
                                    </th>
                                <tr />
                            </thead>
                            <tbody class="cardTB-body">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AnoConclusao)
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>                                  
                </div>
            </div>
        </div>


        <div class="instituicao">           
                <table class="table">
                    <thead class="card-header">
                        <tr class="tr_header">
                            <th>
                                @Html.DisplayNameFor(model => model.Instituicao)
                            </th>
                        <tr />
                    </thead>
                    <tbody class="cardTB-body">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Instituicao)
                                </td>
                                <td>
                                    @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                                </td> 
                            </tr>
                        }
                    </tbody>
                </table>        
        </div>
    </div>

</div>
</section>

<style>

    section{
        margin: 0;
        padding: 0;
        justify-content: center;
        display: flex;
        
    }
        
/* CARD */
    .card{
        display:inline-flexbox;
        flex-direction: column;
        float:right;
        width:800px;
        height:max-content;
    }

/*CARD HEADER TABLE*/
    th{
        display:inline-flex;
        width: 300px;
        height: 35px;
        border:none;
        font-weight:normal;
        font-style:normal;
        font-size:20px;
        justify-content:space-between;
    }

    .card-header{
        display:inline-flex;       
        width:250px;
        background:none;
        flex-direction:row;
        justify-content:space-between;
        border:none;
        margin-left:50px;
    }

    /* TABLE-BODY*/

    .cardTB-body{
    display:inline-flex;   
    justify-content:center;
    flex-direction:row;
    text-align:center;
    border-color:white;
    border-style:none;
    width:200px;
    background:none;
    margin-top:10px;
    margin-left:250px;
    }


    /*CONTATO*/
    .nome{
        position: relative;
        text-align: center;
        font-size: 32px
    }

    .data-nascimento{
        position: relative;
        flex-direction: row;
       
    }

    .estado-civil{
        position: relative;
        flex-direction: row;
       
    }

    .cidade-UF{
        position: relative;
        flex-direction: row;
       
    }

    .cep{
        position: relative;
        flex-direction: row;
       
    }

    .telefone{
        position: relative;
        flex-direction: row;
        
    }

    .email{
        position: relative;
        flex-direction: row;
        
    }
    
    .endereco{
        position: relative;
        flex-direction: row;
        
    }

    .resumo{
        
        font-size: large;
        position: relative;
    }

/*CARD BODY*/

    .resumo-txt{
        display:flex;
        text-align:justify;
        padding:10px;
        margin:10px;
    }

    /*EXPERIÊNCIAS*/
    .experiencias{
        position: relative;
        margin-left: 5px;
    }

    /*INSTITUICAO*/
    .instituicao{
        position: relative;
        margin-left: 5px;
    }

    /*COMPETENCIAS*/
    .competencias{
        position: relative;
        margin-left: 5px;
    }

  
  /*CARD FOOTER*/
    .habilidades-interp{
        position: relative;
        margin-left: 10px;
    }

    .cursos-certif{
        position: relative;
        margin-left: 10px;
    }

    </style>

<style type="text/css" media="screen and (max-width:989px)">

    section {
        margin: 0;
        padding: 0;
        justify-content: center;
        display: flex;
    }


    /*TABLE BODY*/
    .cardTB-body {
        display: inline-flex;
        justify-content: center;
        flex-direction: row;
        text-align: center;
        border-color: white;
        border-style: none;
        width: 200px;
        margin-left: 100px;
        background: none;             
    }

    .cargo{
        display:flex;
        margin-left:200px;
    }

    /*CARD HEADER TABLE*/
    th {
        display: inline-flex;
        width: 240px;
        height: 35px;
        border: none;
        font-weight: normal;
        font-style: normal;
        font-size: 20px;
        justify-content: space-between;
    }

    .card-header {
        display: inline-flex;
        width: 250px;
        background: none;
        flex-direction: row;
        justify-content: space-between; 
        border: none;
        margin-left: 0px;
    }

</style>

<style type="text/css" media="screen and (max-width:765px)">
    
    section {
        margin: 0;
        padding: 0;
        justify-content: center;
        display: flex;
    }


    /*TABLE BODY*/
    .cardTB-body {
        display: inline-flex;
        justify-content: center;
        flex-direction: row;
        text-align: center;
        border-color: white;
        border-style: none;
        width: 100px;
        background: none;
        margin-left:90px;
        margin-top:20px;
    }

    /*CARD HEADER TABLE*/
    th {
        display: inline-flex;
        width: 240px;
        height: 35px;
        border: none;
        font-weight: normal;
        font-style: normal;
        font-size: 20px;
        justify-content: space-between;
    }

    .card-header {
        display: inline-flex;
        width: 250px;
        background: none;
        flex-direction: row;
        justify-content: space-between;
        border: none;
        margin-left: 0px;
    }

</style>

<style type="text/css" media="screen and (max-width:558px)">

    section {
        margin: 0;
        padding: 0;
        justify-content: center;
        display: flex;
    }

    

    .cargo{
        display:flex;
        margin-left:-90px;
    }

    .card{
        text-align:center;
        display:flexbox;
        align-content:center;
        justify-content:center;
        align-items:center;
        align-self:center;
    }

    /*TABLE BODY*/
    .cardTB-body {
        display: flexbox;
        justify-content: center;
        align-items:center;        
        text-align: center;
        border-color: white;        
        width: 100px;        
    }

    /*CARD HEADER TABLE*/
    th {
        display: flexbox;
        width: 100px;
        height: 35px;
        border: none;
        font-size: 20px;
        justify-content: center;
        align-content:center;
        text-align:center;
        align-items:center;
        margin-top:20px;
    }

    .card-header {
        display: flexbox;
        width: 120px;
        align-items:center;
        justify-content: center;        
    }

</style>



